<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Bus Tracking System</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mako&family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/adminhome.css') }}" />
    <script src="{{url_for('static', filename='scripts/script.js')}}"></script>
</head>

<body>

    <div class="adminhome-header">
        <div class="adminhome-header-content">
            <a href="/admin">
                <img class="adminhome-logo" src="{{url_for('static', filename='assets/velammal_eng.png')}}" alt="" />
            </a>
            <a href="/admin">
                <img class="adminhome-logo-large" src="{{url_for('static', filename='assets/ADMIN LOGO.png')}}" alt="" />
            </a>
        </div>
    </div>

    <div class="adminhome-container">
        <div class="adminhome-menu">
            <a href="\signup" class="adminhome-button">Create Login</a>
            <a href="\adminissues" class="adminhome-button">View Reported Issues</a>
            <a href="\adminann" class="adminhome-button">Make Announcement</a>
            <a href="\logout" class="adminhome-button">Log Out</a>
        </div>
    </div>

</body>

</html>
